*.py[cod]

# Unit test / coverage reports
.coverage
cover
.tox
.testrepository
.stestr/

# Packages
.eggs
*.egg*
dist
build
eggs
parts
sdist
develop-eggs
.installed.cfg
lib
lib64

# built ansible collection
*.tar.gz

